.pumpPageHeaderBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;//130px;
    padding-top: 10px;
    background: -webkit-linear-gradient(left, #5f8bf7 0%,#37bafe 100%);
    .pumpBackBox {
        >a {
            padding: 8px;
            font-size: 22px;
            color: #fff;
        }
    }
    
    .pumpSearchBox {
        >.mui-search {
            width: 96%;
            
            .pumpSearch {
                background: rgba(0,0,0,.1);
            }
            .mui-icon-clear {
               
                &::before {
                    color: #ccc;
                }
            }
            .mui-placeholder {
               
                color: #80ade6; 
               
                border-radius: 3px!important;
                &.mui-active {
//                  background: red!important;
                    &::before {
                        color: #80ade6!important;
                    }
                }
                &.mui-active::before {
                   
                    color: #80ade6!important;
                    width: 100px;
                   
                }
                .mui-icon-search {
                    color: #80ade6!important;
                    
                }
            }
         
        }
           .pumpSearch {
//        background: red;
                font-size: 14px;
                color: #fff;
  
                
           } 
    }
    .sheBeiNumBox {
        position: absolute;
        left: 0;
        top: 70px;
        width: 114px;
        height: 30px;
        line-height: 30px;
        color: rgba(255,255,255,.4);
        font-size: 14px;
        text-indent: 14px;
        background: #4d81da;
        border-radius: 0 15px 15px 0;
        .sheBeiNum {
            margin-left: 5px;
            font-size: 14px;
            color: #fff;
        }
    }
    .sheBeiPage {
        height: 41px;
        line-height: 41px;
        >span {
            width: 30px;
            height: 30px;
            font-size: 32px;
            color: #fff;
            padding-left: 4px;
        }
    }
    .sheBeiLieBiao {
        position: absolute;
        right: 0;
        top: 70px;
        width: 114px;
        height: 30px;
        line-height: 30px; 
        color: #544f01;
        font-size: 14px;
        background: #fff100;
        text-align: center;
        border-radius:  15px 0 0 15px;
        overflow: hidden;
        >a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}


.itemNav {
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
    width: 100%;
    height: 56px;
    background: #fff;
    
    .itemNavItem {
       height: 100%;
       line-height: 56px;
       padding: 0!important;
//      padding-bottom: 0!important;
       border-right: 1px solid #f2f1f1;
       background: #fff!important;
       &.mui-active {
           background: #f2f1f1!important;
       }
       &.active {
          .mui-media-body {
              color: #509dfa;
          }
           border-bottom: 2px solid  #509dfa;
       }
       >a {
          .mui-media-body {
              height: 18px!important;
              line-height:18px!important;
              vertical-align: middle;
          }
       }
       img {
           width: 20px;
           vertical-align: middle;
           
       }
    }
}
//
//.mui-iframe-wrapper {
//  top: 136px!important;
//}
