<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>泵房监控首页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/icons-extra.css" />
		<link rel="stylesheet" href="css/warnDetail.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<style>
			[v-cloak]{
			    display: none;
			}
		</style>
		<script src="js/jquery-2.1.0.js"></script>
		<script src="fnAction/FunctionAction.js"></script>
		<script src="fnAction/md5-min.js"></script>
		<script type="text/javascript" src="JS_ext/BDPushPlugin.js"></script>
	</head>

	<body>
		<div class="mui-content">
			
		    <div class="warnDetailWrap" id="warnDetail">
		    	
		    	<ul class="noData" v-show="warnListData.legnth===0">
		    		<li></li>
		    		<li></li>
		    		<li></li>
		    		<li></li>
		    	</ul>
		    	<div class="noDataTip" v-show="warnListData.legnth===0">
		    		无报警记录
		    	</div>
		    	
		    	<ul class="warnListWrap">
		    		<li v-for="item in warnListData" v-show="item.length>0">
		    			<div class="typePicBox mui-clearfix">
		    				<div class="typePic">
		    					<span class="iconfont " v-bind:class="[item.mType]"></span>
		    				</div>
		    				<div class="typeName" v-cloak>{{item.name}}</div>
		    			</div>
		    			
		    			<ul class="warnList">
		    				<li class="warnItem" v-for="sub in item.dataSubItem">
		    					<div class="dot"></div>
		    					<div class="warnTime" v-cloak>{{sub.date |timeDeal}}</div>
		    					<div class="warnName" v-cloak>{{sub.name}}</div>
		    					<div class="warnText" v-cloak>{{sub.msg}}</div>
		    					<!--<div class="beforeTime" v-cloak>{{sub.beforeTime}}</div>-->
		    				</li>
		    				
		    			</ul>
		    		</li>
		    		
		    		
		    	</ul>
		  
		    
		    </div>
		</div>
		
	
		<script src="js/VUE2.js"></script>
		<script type="text/javascript">
			
			
			
			Vue.filter('timeDeal',function(value){
				if(!value){
					return '';
					
				}else {
					return value.replace(/[a-z]/ig,' ');
				}
			});
			var vm=new Vue({
					el:'#warnDetail',
					data:{
						warnList:[
//							
						]
					},
					
				});
			

				//数据获取 函数
			function dataGetFn(){
				var alermPra={
					FName:4509,
					FPassWord:'yf13592516750',
					Tocken:'9832a2e8-5f3e-4bac-bd7d-eb1d0edd7def',
					FType:"APP"
				};
				$.ajax({
					url:'http://192.168.1.97:8008/V_YCJK/ALLAlarm_List',
				
					dataType:'json',
					data:alermPra,
					success:function(data){
						//	warnListCallback(data);
						console.log(data.data);
						
							vm.warnListData=dataDealFn(data.data);
						
						
						setTimeout(function(){ 
							(vm.warnListData).shift();
							console.log((vm.warnListData).length);
			},2000*8);
						
					},
					error: function(data){
						console.log(data);
					}
				});
			}
			//数据 处理 函数
			
			
			dataGetFn();
			function dataDealFn(data){
				var warnListData=[
					{
						name:'泵房',
						mType:'icon-bengfang',
						length:0,
						dataSubItem:[]
					},
					{
						name:'阀门',
						mType:'icon-famen1',
						length:0,
						dataSubItem:[]
					},
					{
						name:'流量',
						mType:'icon-liuliang',
						length:0,
						dataSubItem:[]
					},
					{
						name:'水厂',
						mType:'icon-shuichang',
						length:0,
						dataSubItem:[]
					},
					{
						name:'水源',
						mType:'icon-shuiyuan1',
						length:0,
						dataSubItem:[]
					},
					{
						name:'大表',
						mType:'icon-dabiao',
						length:0,
						dataSubItem:[]
					},
					{
						name:'压力',
						mType:'icon-yali',
						length:0,
						dataSubItem:[]
					},
					{
						name:'调峰',
						mType:'icon-tiaofeng',
						length:0,
						dataSubItem:[]
					},
					{
						name:'水质',
						mType:'icon-shuizhi',
						length:0,
						dataSubItem:[]
					}
				];
//				var dataItem={
//						dataSubItem:[]
//					};

				$(data).each(function(ind,val){
//					var dataItem={
//						dataSubItem:[]
//					};
					console.log(val.FMarkerType);
					switch(val.FMarkerType){
						case 1 :{
//							dataItem.name='泵房';
							warnListData[0].length+=1;
							warnListData[0].dataSubItem.push({
								date:val.FAlarmTime,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							break;
						}
						case 2 :{
//							dataItem.name='阀门';

							warnListData[1].dataSubItem.push({
								date:val.FAlarmTime,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							warnListData[1].length=warnListData[1].dataSubItem.length;
							break;
						}
						case 3 :{
//							dataItem.name='流量';

							warnListData[2].dataSubItem.push({
								date:val.FAlarmTime,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							warnListData[2].length=warnListData[2].dataSubItem.length;
							break;
						}
						case 4 :{
//							dataItem.name='水厂';

							warnListData[3].dataSubItem.push({
								date:val.FAlarmTime,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							warnListData[3].length=warnListData[3].dataSubItem.length;
							break;
						}
						case 5 :{
//							dataItem.name='水源';

							warnListData[4].dataSubItem.push({
								date:val.FAlarmTime,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							warnListData[4].length=warnListData[4].dataSubItem.length;
							break;
						}
						case 6 :{
//							dataItem.name='大表';

							warnListData[5].dataSubItem.push({
								date:val.FAlarmTime,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							warnListData[5].length=warnListData[5].dataSubItem.length;
							break;
						}
						case 7 :{
//							dataItem.name='压力';

							warnListData[6].dataSubItem.push({
								date:val.FAlarmTime,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							warnListData[6].length=warnListData[6].dataSubItem.length;
							break;
						}
						case 8 :{
//							dataItem.name='调峰';

							warnListData[7].dataSubItem.push({
								date:val.FAlarmTime,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							warnListData[7].length=warnListData[7].dataSubItem.length;
							break;
						}
						case 9 :{
//							dataItem.name='水质';

							warnListData[8].dataSubItem.push({
								date:4509,
								name:val.FName,
								msg:val.FSetMsg,
								beforeTime:val.ParamID
							});
							warnListData[8].length=warnListData[8].dataSubItem.length;
							break;
						}
					}
					
					//warnListData.push(dataItem);
				});
				
				return warnListData;
				
			}
	
	
			
			
			
	</script>
	</body>

</html>



